# --- Django ---
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# --- Environment ---
.env
venv/
.env.local
.env.*.local

# --- Flutter ---
**/build/
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# --- OS files ---
.DS_Store
Thumbs.db

# --- IDEs ---
.vscode/
.idea/
