# --- PYTHON / DJANGO ---
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.local
.env.*.local

# Django stuff
media/
staticfiles/
*.pot
*.mo

# VS Code
.vscode/
*.code-workspace

# --- FLUTTER ---
# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/

# Android
android/.gradle/
android/app/build/
*.iml
.gradle
local.properties

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Build outputs
build/
**/build/

# --- OTHER ---
.DS_Store
Thumbs.db
